<h1>Contact List</h1>
<div class="contact-edit" *ngIf="_contactForEdit" style="border: 1px solid black;">
  <input type="number" id="Id" name="Id" label="Id:" appValidate [required]="true" [(ngModel)]="_contactForEdit.Id" disabled="disabled" />
  <input type="text" id="Name" name="Name" label="Name:" appValidate [required]="true" [(ngModel)]="_contactForEdit.Name" [(validation)]="formValidation['Name']"/>
  <input type="text" id="Phone" name="Phone" label="Phone:" appValidate [(ngModel)]="_contactForEdit.Phone" [(validation)]="formValidation['Phone']"/>
  <input type="text" id="Email" name="Email" label="Email:" appValidate [(ngModel)]="_contactForEdit.Email" [(validation)]="formValidation['Email']"/>
  <button (click)="_saveEditContact()">Save Changes</button>
  <button (click)="_cancelEditContact()">Cancel</button>
  <button (clic)="_makeErrors()">Make Errors</button>
</div>
<div class="contacts" style="margin-top: 15px;">
  <button (click)="_addNewContact()">Add New Contact</button>
  <table>
    <thead>
      <tr>
        <th>Actions</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contactList">
        <td><button (click)="_editContact(contact)">Edit</button><button (click)="_deleteContact(contact)">Delete</button></td>
        <td>{{contact.Name}}</td>
        <td>{{contact.Phone}}</td>
        <td>{{contact.Email}}</td>
      </tr>
    </tbody>
  </table>
</div>